version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  migrator:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: migrator
    depends_on:
      - mongo
    environment:
      CSV_SOURCE: /seed/healthcare_dataset.csv         # là où arrive ton CSV depuis ton PC
      CSV_PATH: /migration_data/healthcare_dataset.csv # là où on veut le ranger (volume)
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_DB: donnees_medicales
      MONGO_COLLECTION: patients
    volumes:
      - migration_data:/migration_data:rw   # 2e volume demandé
      - ./data:/seed:ro                    # ton dossier local → conteneur
    command: ["python", "script_python_mongo.py"]

volumes:
  mongo_data:
  migration_data:
