services:
  mongo:
    image: mongo:7
    container_name: mongo
    command: ["mongod", "--bind_ip_all"]
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      # dossier d'init pour créer les users applicatifs
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 3s
      retries: 20

  migrator:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: migrator
    depends_on:
      mongo:
        condition: service_healthy
    env_file:
      - .env
    environment:
      # Chemin du CSV vu par le conteneur (tu as déjà monté ./data:/data:ro)
      CSV_SOURCE: /data/healthcare_dataset.csv
      # Si ton script a besoin d’une copie locale, tu peux aussi prévoir:
      # CSV_PATH: /migration_data/healthcare_dataset.csv
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_DB: ${MONGO_APP_DB}
      MONGO_USER: ${MONGO_APPUSER}
      MONGO_PASSWORD: ${MONGO_APPUSER_PWD}
      MONGO_COLLECTION: patients
    volumes:
      - ./data:/data:ro
      # Optionnel si tu utilises /migration_data dans ton script
      # - migration_data:/migration_data:rw
    command: ["python", "script_python_mongo.py"]

volumes:
  mongo_data:
    {}
  # migration_data:
  #   {}
